h1 {
  margin-top: 20px;
}
h2 {
  background-color: white;
  max-width: 300px;
  text-align: center;
}
div.cityName {
  color: #fff;
}
div.body {
  border-radius: 10px;
  border: 1px solid transparent;
  margin: 0 auto;
  display: block;
  width: 600px;
  height: 83vh;
  background-color: black;
  margin-top: 20px;
}

input[type="search"] {
  height: 5vh;
  border-radius: 5px;
  border: 2px solid black;
}
form {
  bottom: -20px;
}
div.temp {
  margin-bottom: 70px;
}
span.strong {
  font-size: 30px;
  position: relative;
  left: 50px;
  top: -30px;
}
ul {
  position: relative;
  top: -30px;
  list-style-type: none;
  color: #fff;
}
img {
  position: relative;
  top: -30px;
  font-size: 30px;
}
a {
  text-decoration: none;
  font-size: 20px;
}
#DAY {
  color: #fff;
}
#temperat {
  color: #fff;
}
.forecast {
  color: #fff;
}
.fa-temperature-high {
  font-size: 80px;
  margin-top: 20px;
  color: #1a64d6;
}
.time {
  position: relative;
  top: -19px;
}
.image {
  margin-top: 9px;
  margin-right: -33px;
}
.weather-forecast-degree {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weatherDegree {
  position: relative;
  bottom: -13px;
  right: 8px;
}
.location {
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: -40px;
}
.location:hover {
  color: #fff;
  background: blue;
}
.link {
  position: relative;
  bottom: -70px;
  border: 1px solid #fff;
  background-color: #fff;
  width: 350px;
}
.units {
  font-size: 20px;
}
.weather img {
  margin-right: 5px;
  margin-top: 19px;
  height: 64px;
  width: 64px;
}
.weather {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.forecast {
  margin-top: -26px;
  font-size: 13px;
}

@media (max-width: 500px) {
  div.body {
    width: 350px;
    height: 100vh;
  }
  #DAY {
    font-size: 15px;
  }
  img {
    font-size: 15px;
  }
  input[type="search"] {
    width: 70%;
  }
  input[type="submit"] {
    padding: 8px 10px;
  }
}
